:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --start-gold-color: #FFCE3E;
    --hover-item-color: #fef1ef;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%; 
    line-height: 1.6rem; /*16px*/
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
}
/* Responsive */
/* .grid {
    width: 1200px;
    max-width: 100%;
    margin:  0 auto;
}

.grid__full-width {
    width: 100%;
} */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__col-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
.grid__col-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 24.9999999%;
}
.grid__col-2-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 20%;
}
.grid__col-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px ;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    background-color: var(--white-color);
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}



.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);

}

.btn.btn-disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
}

.btn--size-s {
    height: 32px;
    width: 80%;
    padding: 0 12px;
    font-size: 1.2rem;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.select-input:hover .select-input__list  {
    display: block;
}
.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px
}


.select-input__list {
    position: absolute;
    list-style: none;
    z-index: 5;
    background-color: var(--white-color);
    top: 25px;
    left: 0;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
    padding: 10px 16px;
    display: none;
}
.select-input__list::before {
    content: "";
    position: absolute;
    background-color: transparent;
    height: 20px;
    width: 200px;
    top: -10px;
    right: 0px;
}

.select-input__item {

}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}


/* Pagination */
.pagination {
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.pagination-item {
    margin: 0 8px;
 }
 
.pagination-item--active .pagination-item__link {
     background-color: var(--primary-color);
     color: var(--white-color);
     border-radius: 2px;
 }
.pagination-item--active:hover .pagination-item__link {
    background-color: #f36447;
}

.pagination-item__link {
     text-decoration: none;
     font-size: 1.6rem;
     color: #939393;
     min-width: 40px;
     height: 30px;
     display: block;
     text-align: center;
     line-height: 30px;
 }
 
.pagination-item__icon {
 
 }
